
<body>
        <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px"
        fxLayoutAlign="center center">
        
        

        <div flex-xs flex-gt-xs="100">
            <p>
                <img md-card-image src="/assets/dash.jpg" alt="logo">
            </p>
            </div>
        </div>


     
            <div class="container"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">
         <div class="item item-1" fxFlex="15%"></div>
         <div class="item item-2" fxFlex="20%" fxFlexOrder="3">


         </div>
         <div class="item item-3" fxFlex>
                <div flex-xs flex-gt-xs="20">
                        
                   <p>
                      <a md-raised-button class="md-raised" href="dashboard" >Calendar</a>
                   </p>
                     <p>
                        <a md-raised-button href="" disabled>Badges</a>
                     </p>
                     <p>
                        <a md-raised-button href="" disabled>Statistics</a>
                    </p>
                    <p>
                        <a md-raised-button href="" disabled>Routines</a>
                    </p>
                    <p>
                         <a md-raised-button href="" disabled>Friends</a>
                     </p>
                    </div>
                


         </div>
         <div class="item item-5" fxFlex="709px">    <p>
                <img md-card-image src="/assets/calendar.jpg" alt="logo">
          </p></div>
       </div>
  
       <div class="container"
       fxLayout="row"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.gt-md="space-around center"
       fxLayoutGap="10px"
       fxLayoutAlign="center center">
       
       

       <div flex-xs flex-gt-xs="100">
           <p>
               Score: 6
           </p>
           <p>
                Place: 1st
            </p>
           </div>
       </div>
        
</body>